---
layout: home
title: Latest Posts
---

{% if site.paginate %}
  {% assign index_posts_list = paginator.posts %}
{% else %}
  {% assign index_posts_list = site.posts %}
{% endif %}

{% for post in index_posts_list %}
  {% if site.wpm %}
    {% assign readtime = post.content | strip_html | number_of_words | append: '.0' | divided_by:site.wpm %}
  {% else %}
    {% assign readtime = post.content | strip_html | number_of_words | append: '.0' | divided_by:180 %}
  {% endif %}
  {% assign modifiedtime = post.modified | date: "%Y%m%d" %}
  {% assign posttime = post.date | date: "%Y%m%d" %}

  {% if post.type %}
    {% include index_posts_list/{{ post.type }}.html %}
  {% else %}
    {% include index_posts_list/default.html %}
  {% endif %}
{% endfor %}


{% if site.paginate and paginator.total_pages > 1 %}
  <div class="row text-center text-caps">
    <div class="col-md-8 col-md-offset-2">
      <nav class="pagination" role="navigation">
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
            <a class="newer-posts" href="{{ site.url }}">
              &larr; Newer Posts
            </a>
          {% else %}
            <a class="newer-posts" href="{{ site.url }}/page{{ paginator.previous_page }}">
              &larr; Newer Posts
            </a>
          {% endif %}
        {% endif %}

        <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

        {% if paginator.next_page %}
          <a class="older-posts" href="{{ site.url }}/page{{ paginator.next_page }}">Older Posts &rarr;</a>
        {% endif %}
      </nav>
    </div>
  </div>
{% endif %}
